body{
	font: 14px/21px OpenSans-Regular,arial,sans-serif;
	color: #2c2c2c;
	background: #f9f9f9;
}
.wrapper{
	width: 1066px;
	margin: 0 auto;
	border: 2px solid #dbdbdb;
	border-width: 0 2px;
	background: #fff;
	padding: 51px 0 60px;
	box-shadow: 0px 0px 9px 2px rgba(219,219,219,1);
}
.container{
	width: 967px;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.logo a{
	display: block;
	background: url(../images/logotip.png) no-repeat;
	width: 145px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999px;
}
.navigation{
	background: rgb(89, 89, 89);
	overflow: hidden;
	margin-top: 31px;
}
.navigation ul{
	margin:0;
	padding: 0 0 0 25px;
	list-style: none;
}
.navigation ul li{
	display: inline-block;
}
.navigation ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 14px 30px 16px 23px;
}
.navigation ul li a:hover{
	background: #414141;
	box-shadow: 0px 0px 0px 2px rgba(131,131,131,1);
}
.content{
	padding: 40px 0 60px;
}
.sidebar{
	width: 240px;
	float: left;
}
.categoriya{
	margin: 0;
	padding: 0;
	list-style: none;
}
.categoriya li{
	border: 2px solid #c8c8c8;
	border-width: 0px 1px 1px 1px;
	padding: 16px 0 13px 23px;
}
.categoriya li:first-child{
	border-top: 1px solid #c8c8c8;
}
.categoriya li a{
	display: block;
	color: #656363;
	text-decoration: none;
}
.categoriya li:hover{
	background: #f9f9f9;
}
.categoriya li a:hover{
	background: #f9f9f9;
	margin-left: 10px;
}
.holder-banner{
	width: 678px;
	float: right;
	margin-left: 47px;
}
.banner{
	border: 1px solid #c8c8c8;
}
.banner img{
	padding: 50px 0 50px 92px;
}
.text{
	padding: 30px 10px 50px 10px;
}
.footer-2{
	background: #e1e1e1;
	overflow: hidden;
}	
.footer-navigation{
	padding: 0 0 0 25px;
	margin: 0;
	list-style: none;
	float: left;
}
.footer-navigation li{
	display: inline-block;
}
.footer-navigation li a{
	display: block;
	color: #2c2c2c;
	text-decoration: none;
	padding: 14px 30px 16px 23px;
}
.footer-nav li a:hover{
	text-decoration: underline;
}
.copyright{
	float: right;
	padding: 14px 26px 16px 0;
}