*{
     margin-bottom: 0;
     padding: 0;

 }
.main {
    position: relative;
    left: 350px;
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
}
.block {
    width: 584px;
    height: 250px;
    position: absolute;
    top: 7px;
    left: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 0;
}
.menu {
     position: absolute;
     top: -7px;
     left: 10px;
     display: inline-block;
     width: 575px;
     height: 30px;
     border-radius: 5px;
     border: 1px solid #aaa;
     background: linear-gradient(to bottom, #ccc,#ccc, #bbb);
        z-index: 1;
 }
.menu li:nth-child(1) {
    width: 109px;
    height: 26px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 20px;
    background-color: #eee;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    /*z-index: 1;*/
}
.menu li:nth-child(2) {
    width: 84px;
    height: 26px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 138px;
    background-color: #eee;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    /*z-index: 1;*/
}
.menu li:nth-child(3) {
    width: 106px;
    height: 26px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 229px;
    background-color: #eee;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    /*z-index: 1;*/
}
.menu p {
    margin-top: 6px;
    margin-left: 9px;
    margin-bottom: 10px;
    font-size: 13px;
}
.menu li:nth-child(1):hover {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-bottom: none;
}
.menu li:nth-child(2):hover {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-bottom: none;
}
.menu li:nth-child(3):hover {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-bottom: none;
}
.submenu{
    /*display: none;*/
}
.submenu_menu li {
    width: 109px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 31px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: 2;

}
.submenu p {
    position: absolute;
    top:27px;
    left:10px;
    font-size: 13px;
}
.submenu_menu li p {
    margin-top: -21px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
}
.submenu_center {
    display: none;
}
.submenu_center_menu li  {
    width: 84px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 149px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: 2;
}
.submenu_center p {
    position: absolute;
    top: 27px;
    left: 10px;
    font-size: 13px;
    letter-spacing: -0.04px;
}
.submenu_center_menu li p {
    margin-top: -21px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
}
.submenu_right {
    display: none;
}
.submenu_right_menu li {
    width: 106px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 240px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: 2;
}
.submenu_right p {
    width: 586px;
    position: absolute;
    top: 27px;;
    left: 10px;
    font-size: 13px;
}
.submenu_right_menu li p {
    margin-top: -21px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
}
